@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px; }

.info-box {
  position: sticky;
  top: 0px;
  z-index: 1;
  font-size: 1vw;
  text-align: center;
  background-color: #f3eae2;
  color: #5c5c5c;
  padding: 10px; }

.header {
  display: flex;
  width: 100%;
  height: 6vw;
  justify-content: center;
  align-items: center; }

.header-text {
  display: flex;
  font-family: 'Playfair Display', serif;
  align-items: center;
  position: absolute;
  left: 5px;
  justify-content: center; }

.header-text h2 {
  font-size: 4.5vw;
  font-weight: 600;
  color: #5c5c5c;
  letter-spacing: 2px; }

/*
.logo {
    display: inline-block;
    height: 5vw;
    margin-left: -12px;
    margin-top: 10px;
}
*/
.menu-button {
  background-color: #f3eae2;
  padding: 2vw;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.link {
  background-color: white;
  width: 6vw;
  height: 1vw; }

.dropdown-menu {
  position: absolute;
  left: 30px;
  display: none;
  font-family: 'Open Sans', sans-serif; }

@media screen and (max-width: 600px) {
  .info-box {
    font-size: 2vw;
    font-weight: 600; }
  .header-text h2 {
    font-size: 7vw;
    letter-spacing: 3px; }
  .dropdown-menu {
    display: inline-block; }
  .topLink {
    display: none; }
  .header-text {
    position: relative; }
  .header {
    justify-content: center;
    height: 15vw; } }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px;
  font-size: 24px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown-menu:hover .dropdown-content {
  display: block; }

.topLink {
  margin: 15px;
  text-decoration: none;
  color: #5c5c5c;
  font-size: 1.8vw; }

.topLink:link {
  cursor: pointer; }

.topLink:hover {
  cursor: pointer;
  color: #c7ab94; }

.topLink:active {
  text-decoration: none; }

.cart-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  justify-content: center; }

.icons {
  height: 4vw; }

.action-buttons {
  color: #5c5c5c; }

.cart-button:hover {
  cursor: pointer; }

.hero-container {
  position: relative;
  width: 100%;
  height: 550px; }

.image-container {
  background-color: #f3eae2;
  height: 100%;
  width: 100%; }

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.hero-text {
  position: absolute;
  text-align: left;
  color: white;
  font-size: 2vw;
  font-family: 'Playfair Display', serif;
  top: 30%;
  left: 8%;
  width: 30%; }

.hero-text h1, .hero-text h4 {
  background-color: rgba(63, 61, 61, 0.459);
  padding: 2%; }

@media screen and (max-width: 660px) {
  .hero-text {
    font-size: 4vw;
    width: 60%; } }

.card-container {
  display: flex;
  justify-content: space-between;
  height: 320px;
  margin-top: -5px; }

.startCard {
  position: relative;
  width: 49.8%;
  height: 310px;
  margin-top: 10px; }

.left {
  background-image: url(./images/pyramidochknut.JPG);
  background-size: cover;
  background-position: center; }

.right {
  background-image: url(./images/pastellbubblormini.JPG);
  background-size: cover;
  background-position: center; }

.card-text {
  position: absolute;
  width: 130px;
  height: 110px;
  margin-top: 25%;
  left: 22px;
  color: white;
  background-color: rgba(67, 68, 67, 0.562); }

.card-text h4 {
  position: relative;
  left: 15px;
  top: 10%;
  font-size: 25px;
  width: 100px;
  text-align: center; }

.card-text p {
  position: relative;
  color: white;
  font-size: 15px;
  padding: 10px;
  width: 110px;
  margin-top: -137px;
  background-color: rgba(67, 68, 67, 0.562); }

/*---------------FOOTER-------------------*/
.footer {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-top: 10px;
  color: #5c5c5c; }

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center; }

.copyright-div {
  text-align: center; }

.mediaIcon {
  height: 30px;
  margin: 5px; }

/*
main {
    background-color: $mainColor-linen;
}
*/
.cart-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw; }

.cart-box {
  width: 60vw;
  height: 30vw;
  background-color: white; }

/*-----------------------Admin Login--------------------------------*/
.admin-text {
  margin-top: 8rem;
  margin-bottom: 0.5rem; }

.admin-btn {
  width: 150px;
  background-color: #8f8c8c;
  color: white;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 10px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-content {
  background-color: #f3eae2;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  font-size: 25px; }

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center; }

.login-form-field {
  width: 60%;
  font-size: 18px;
  margin-top: 1rem;
  border-radius: 20px;
  padding: 1rem;
  background-color: lightyellow; }

#login-form-submit {
  width: 60%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #c7ab94;
  cursor: pointer; }

#username-field {
  background-image: url(./images/Id-Badge.png);
  background-size: 25px;
  background-position: 20px 10px;
  background-repeat: no-repeat;
  padding-left: 55px; }

#password-field {
  background-image: url(./images/Lock-Icon.png);
  background-size: 25px;
  background-position: 20px 10px;
  background-repeat: no-repeat;
  padding-left: 55px; }

@media screen and (max-width: 550px) {
  .modal-content {
    padding: 8px;
    width: 90%;
    font-size: 16px; }
  .login-form-field {
    width: 80%;
    font-size: 14px;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 1rem; }
  #login-form-submit {
    width: 80%;
    font-size: 14px; }
  #username-field {
    background-size: 20px;
    background-position: 20px 11px;
    padding-left: 50px; }
  #password-field {
    background-size: 20px;
    background-position: 20px 11px;
    padding-left: 50px; } }

/*---------------------Admin page----------------------*/
.adminForm {
  width: 80%;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #e7ccb1;
  background-image: url(./images/boxes.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  margin-left: 10%;
  padding: 1rem; }

.admin-header {
  font-size: 26px;
  font-weight: 800; }

.adminForm-label {
  box-sizing: border-box;
  font-size: 18px;
  padding: 0.1rem; }

.adminForm-input {
  width: 60%;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  padding: 0.7rem 1.4rem;
  margin: 1rem; }

.adminForm-textarea, .adminForm-button {
  width: 99%;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  padding: 0.7rem 1.4rem;
  margin: 0.7rem 0.3rem; }

@media screen and (max-width: 550px) {
  .adminForm {
    background-image: none; }
  .admin-header {
    font-size: 24px;
    font-weight: 700;
    margin: 0.5rem; }
  .adminForm-input {
    width: 95%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif; }

.products-container {
  width: 88vw;
  margin: 0 auto; }

.lg-title,
.md-title,
.sm-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.6rem 0; }

.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  color: #5c5c5c; }

.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif; }

.product-info-top .sm-title {
  font-weight: 100;
  font-size: 1rem;
  color: #5c5c5c;
  padding: 0.6rem 0; }

.text-light {
  text-align: center;
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #5c5c5c;
  margin: auto; }

/* Product section */
.products {
  background-color: #f3eae2;
  padding: 3.2rem 0; }

.product {
  margin: 2rem;
  position: relative;
  display: none;
  width: 300px; }

.products-content {
  background: #e7ccb1;
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer; }

.product-img {
  display: flex;
  width: 300px;
  height: 300px;
  margin: auto; }

.product-img img {
  object-fit: contain; }

.product-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px; }

.btn-wish {
  padding: 0.8rem 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  transition: all 0.6s ease;
  background: transparent;
  position: absolute;
  top: 1%;
  right: 10%;
  cursor: default; }

.btn-cart,
.btn-buy {
  padding: 0.8rem 0;
  width: 100%;
  height: 50px;
  margin-top: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease; }

.btn-cart,
.btn-buy,
.btn-load {
  background: #c7ab94;
  color: white; }

.btn-cart:hover,
.btn-buy:hover,
.btn-load:hover {
  background: white;
  color: black; }

.btn-load {
  justify-content: center;
  padding: 0.8rem 0;
  width: 8%;
  margin-left: 45vw;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
  margin-top: 3px; }

.btn-wish:hover {
  color: #fff; }

.product-info {
  margin-top: 2px;
  background: white;
  padding: 2rem; }

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.product-name {
  color: #b88665;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold; }

.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  font-weight: 200; }

.product-price:first-of-type {
  text-decoration: line-through;
  color: #b88665;
  font-size: 0.95rem; }

.off-info .sm-title {
  background: #c7ab94;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: default;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 1.2rem; }

/* Media Queries */
@media screen and (min-width: 748px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative; }
  .product {
    margin: 2rem;
    position: relative;
    display: none;
    width: 300px; }
  .product-btns {
    display: flex;
    width: 300px; } }

@media screen and (min-width: 1336px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

/*---------------------Contact page----------------------*/
.contactPage {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
  color: #705b5b; }

.contactPageContainer {
  max-width: 1100px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px; }

.contact-h3,
.contact-h2,
.contact-Text {
  padding-bottom: 2rem; }

.aboutContainer {
  width: 100%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  box-sizing: border-box; }

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  gap: 4vw; }

.formContainer {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  margin-top: 15%; }

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.textarea {
  font-family: "Open Sans", sans-serif; }

.input:invalid {
  background-color: #e0dfdf; }

.inputSubmit:hover {
  background-color: #817f76; }

.inputSubmit {
  width: 100%;
  background-color: #8f8c8c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

#contactForm-h2 {
  text-align: center; }

.submitted {
  padding: 12px 20px;
  margin: 8px 0;
  color: red; }

#massageInputfield {
  height: 200px; }

.contactContainer {
  width: 100%;
  text-align: left; }

/*-----------------------MEDIA QUERIES--------------------------------*/
@media screen and (min-width: 600px) {
  .contactPage {
    background-color: #f3eae2;
    padding-bottom: 30px; }
  .contactPageContainer {
    max-width: 1100px;
    width: 80vw;
    background-color: white;
    padding: 30px; }
  .aboutContainer {
    width: 70%;
    padding-bottom: 10%;
    padding-top: 5%; }
  .contactSection {
    flex-direction: row;
    width: 100%;
    margin: auto; }
  .contactContainer {
    padding: 20px; }
  .formContainer {
    max-width: 450px;
    margin: auto;
    padding: 20px; } }

.cart-flex {
  padding: 3vw;
  background-color: #f3eae2; }

.cart-box {
  text-align: center;
  padding: 6vw;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 60vw;
  height: auto; }

#trash-btn {
  font-size: 1.5vw; }

.cart-item {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  margin-top: 2vw; }

.avskiljare {
  margin-top: 2vw; }

.cart-flex h2 {
  font-size: 2.5vw; }

.cart-item h4 {
  font-size: 1vw; }

.item-name {
  font-weight: bold;
  font-size: 1.5vw; }

.item-price {
  font-weight: bold;
  font-size: 1.5vw; }

.totalSumma {
  font-weight: bold;
  margin-top: 4vw;
  font-size: 1.5vw; }

.imgCart {
  width: 6vw;
  height: auto;
  transition: 0.5s; }

.imgCart:hover {
  transform: scale(1.6); }

.removeButton {
  background-color: white;
  border: none;
  cursor: pointer; }

.varuCount {
  font-size: 1vw;
  position: absolute;
  top: 0.6vw;
  right: 0vw;
  background-color: black;
  color: white;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.cart-icon {
  display: flex;
  align-items: center;
  position: relative; }

.fa {
  font-size: 2vw;
  margin: 1vw; }

@media screen and (max-width: 660px) {
  .cart-box {
    width: 100%; }
  .item-name {
    font-size: 3vw; }
  .item-price {
    font-size: 3vw; }
  .imgCart {
    width: 10vw;
    height: auto; }
  .totalSumma {
    font-weight: bold;
    margin-top: 4vw;
    font-size: 4vw; }
  h2 {
    font-size: 3vw; }
  .fa {
    font-size: 4vw; }
  .varuCount {
    font-size: 2vw;
    width: 2vw;
    height: 2vw; } }

.action-buttons {
  color: #5c5c5c; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.favorite-h2 {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.favorite-item-list {
  width: 100%;
  margin-top: 5%;
  padding: 10px; }

.heart-icon {
  display: flex;
  align-items: center;
  position: relative; }

.heart-icon span {
  font-size: 1vw;
  position: absolute;
  top: 0.6vw;
  right: 0vw;
  background-color: black;
  color: white;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.favorite-item {
  padding: 8px 8px 8px 10px;
  border-bottom: 1px solid #dedede;
  position: relative;
  display: flex;
  flex-direction: row;
  color: #818181;
  transition: 0.3s;
  gap: 20px;
  align-items: center; }

.img-wrap img {
  width: 55px; }

.favorite-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px; }

.favorite-remove-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
  right: 2px;
  color: #818181;
  text-decoration: none;
  background-color: white;
  border: white;
  font-size: 18px;
  transition: 0.3s; }

.closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  transition: 0.3s; }

/*-----------------------MEDIA QUERIES--------------------------------*/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

@media screen and (max-width: 660px) {
  .heart-icon span {
    font-size: 2vw;
    width: 2vw;
    height: 2vw; } }
