@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px; }

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 8vw;
  color: #050505;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif; }

.header-text {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
  justify-content: center; }

.header-text h2 {
  font-size: 3vw; }

.logo {
  height: 6vw; }

.menu-button {
  background-color: #000000;
  padding: 2vw;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.link {
  background-color: white;
  width: 2vw;
  height: 0.2vw; }

.dropdown-menu {
  position: absolute;
  left: 5px;
  display: none;
  font-family: 'Open Sans', sans-serif; }

@media screen and (max-width: 660px) {
  .dropdown-menu {
    display: inline-block; }
  .topLink {
    display: none; }
  .header-text {
    position: relative; }
  .header {
    justify-content: center; } }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown-menu:hover .dropdown-content {
  display: block; }

.topLink {
  margin: 15px; }

.topLink:hover {
  color: #8f8c8c;
  cursor: pointer; }

.cart-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  justify-content: center; }

.icons {
  height: 4vw; }

.cart-button:hover {
  cursor: pointer; }

.hero-container {
  position: relative;
  width: 100%;
  height: 600px;
  font-family: 'Open Sans', sans-serif; }

.image-container {
  height: 100%;
  width: 100%; }

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.hero-text {
  position: absolute;
  top: 40%;
  left: 8%; }

.card-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif; }

.startCard {
  position: relative;
  width: 49.5%;
  height: 100px;
  margin-top: 10px; }

.left {
  background-image: url(/images/bulb.jpg);
  background-size: cover;
  background-position: center; }

.right {
  background-image: url(/images/candleHand.jpg);
  background-size: cover;
  background-position: center; }

.card-text {
  position: absolute;
  top: 30%;
  left: 8%;
  color: white; }

/*---------------FOOTER-------------------*/
.footer {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px; }

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center; }

.copyright-div {
  text-align: center; }

.mediaIcon {
  height: 30px;
  margin: 5px; }

main {
  background-color: #f3eae2; }

.cart-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw; }

.cart-box {
  width: 60vw;
  height: 30vw;
  background-color: white; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8); }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

:root {
  --white-light: rgba 255, 255, 255, 0, 5;
  --linen: #f3eae2;
  --almond: #f0e0d1;
  --desert-sand: #e7ccb1;
  --tan: #c7ab94;
  --antique-brass: #c69c80;
  --cafe-au-lait: #b88665;
  --gray: #ededed; }

body {
  font-family: "Quicksand", sans-serif; }

.products-container {
  width: 88vw;
  margin: 0 auto; }

.lg-title,
.md-title,
.sm-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.6rem 0;
  text-transform: capitalize; }

.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.5; }

.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif; }

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase; }

.text-light {
  text-align: center;
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: auto; }

/* Product section */
.products {
  background-color: var(--linen);
  padding: 3.2rem 0; }

.product {
  margin: 2rem;
  position: relative;
  width: 300px; }

.products-content {
  background: var(--desert-sand);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer; }

.product-img {
  display: flex;
  width: 300px;
  height: 300px;
  margin: auto; }

.product-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px; }

.btn-wish {
  padding: 0.8rem 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  transition: all 0.6s ease;
  display: inline-block;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: default; }

.btn-cart,
.btn-buy {
  padding: 0.8rem 0;
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
  margin-top: 3px; }

.btn-cart,
.btn-buy {
  background: var(--tan);
  color: white; }

.btn-cart:hover,
.btn-buy:hover {
  background: white;
  color: black; }

.btn-wish:hover {
  color: #fff; }

.product-info {
  background: white;
  padding: 2rem; }

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.product-name {
  color: var(--cafe-au-lait);
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold; }

.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  font-weight: 200; }

.product-price:first-of-type {
  text-decoration: line-through;
  color: var(--cafe-au-lait);
  font-size: 0.95rem; }

.off-info .sm-title {
  background: var(--tan);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: default; }

/* Media Queries */
@media screen and (min-width: 748px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .product-btns {
    display: flex;
    width: 300px; } }

@media screen and (min-width: 1336px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }

/*---------------------Contact page----------------------*/
.contactPage {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
  color: #705b5b; }

.contactPageContainer {
  max-width: 1100px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px; }

.contact-h3,
.contact-h2,
.contact-Text {
  padding-bottom: 2rem; }

.aboutContainer {
  width: 100%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  box-sizing: border-box; }

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  gap: 4vw; }

.formContainer {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  margin-top: 15%; }

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.textarea {
  font-family: "Open Sans", sans-serif; }

.input:invalid {
  background-color: #e0dfdf; }

.inputSubmit:hover {
  background-color: #817f76; }

.inputSubmit {
  width: 100%;
  background-color: #8f8c8c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

#contactForm-h2 {
  text-align: center; }

.submitted {
  padding: 12px 20px;
  margin: 8px 0;
  color: red; }

#massageInputfield {
  height: 200px; }

.contactContainer {
  width: 100%;
  text-align: left; }

/*-----------------------MEDIA QUERIES--------------------------------*/
@media screen and (min-width: 600px) {
  .contactPage {
    background-color: #f3eae2;
    padding-bottom: 30px; }
  .contactPageContainer {
    max-width: 1100px;
    width: 80vw;
    background-color: white;
    padding: 30px; }
  .aboutContainer {
    width: 70%;
    padding-bottom: 10%;
    padding-top: 10%; }
  .contactSection {
    flex-direction: row;
    width: 100%;
    margin: auto; }
  .contactContainer {
    padding: 20px; }
  .formContainer {
    max-width: 450px;
    margin: auto;
    padding: 20px; } }
