/*-----------------------Admin Login--------------------------------*/

.admin-text {
    margin-top: 8rem;
    margin-bottom: 0.5rem;
}
  
.admin-btn {
    width: 150px;
    background-color: rgb(143, 140, 140);
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
} 
  
.modal-content {
    background-color: #f3eae2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-size: 25px;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field {
    width: 60%;
    font-size: 18px;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 1rem;
    background-color: lightyellow;
}
    
#login-form-submit {
    width: 60%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #c7ab94;
    cursor: pointer;
}

#username-field {
    background-image: $userIcon;
    background-size: 25px;
    background-position: 20px 10px; 
    background-repeat: no-repeat;
    padding-left: 55px;
}
  
#password-field {
    background-image: $lockIcon;
    background-size: 25px;
    background-position: 20px 10px; 
    background-repeat: no-repeat;
    padding-left: 55px;
}

@media screen and (max-width: 550px) {
    
    .modal-content {
        padding: 8px;
        width: 90%;
        font-size: 16px; 
    }
    
    .login-form-field {
        width: 80%;
        font-size: 14px;
        margin-top: 1rem;
        border-radius: 20px;
        padding: 1rem;
    }
      
    #login-form-submit {
        width: 80%;
        font-size: 14px;
    }
      
    #username-field {
        background-size: 20px;
        background-position: 20px 11px;
        padding-left: 50px; 
    }
      
    #password-field {
        background-size: 20px;
        background-position: 20px 11px;
        padding-left: 50px; 
    }
}