
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}
.products-container {
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  color: $text;
}
.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light {
  text-align: center;
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: $text;
  margin: auto;
}

/* Product section */
.products {
  background-color: $mainColor-linen;
  padding: 3.2rem 0;
}

.product {
  margin: 2rem;
  position: relative;
  display: none;
  width: 300px;
}
.products-content {
  background: $mainColorBackground;
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product-img {
  display: flex;
  width: 300px;
  height: 300px;
  margin: auto;
}
.product-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}
.btn-wish {
  padding: 0.8rem 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  transition: all 0.6s ease;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: default;
}
.btn-cart,
.btn-buy {
  padding: 0.8rem 0;
  width: 100%;
  height: 50px;
  margin-top: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart,
.btn-buy,
.btn-load {
  background: $secondaryColor;
  color: white;
}
.btn-cart:hover,
.btn-buy:hover,
.btn-load:hover {
  background: white;
  color: black;
}
.btn-load{
  justify-content: center;
  padding: 0.8rem 0;
  width: 8%;
  margin-left: 45vw;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
  margin-top: 3px;
}
.btn-wish:hover {
  color: #fff;
}
.product-info {
  margin-top: 2px;
  background: white;
  padding: 2rem;
}
.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-name {
  color: $titleColor;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  font-weight: 200;
}
.product-price:first-of-type {
  text-decoration: line-through;
  color: $titleColor;
  font-size: 0.95rem;
}
.off-info .sm-title {
  background: $secondaryColor;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: default;
}

/* Media Queries */
@media screen and (min-width: 748px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-btns{
    display: flex;
    width: 300px;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
