$bgImage: "./images/candleFlower.jpg";
$leftImage: "./images/bulb.jpg";
$rightImage: "./images/candleHand.jpg";
$main-text: 'Open Sans', sans-serif;

$mainColor-linen: #f3eae2; 
$mainTextColor: #705b5b;
