.cart-flex {
    padding: 3vw;
    background-color:  #f3eae2;
    
}

.cart-box {
text-align: center;
padding: 6vw;
margin-top: 3vw;
display: flex;
flex-direction: column;
justify-content: space-evenly;
min-width: 60vw;
height: auto;
}



.cart-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-top: 2vw;
}

.avskiljare {
    margin-top: 2vw;
}

h2 {
font-size: 2.5vw;
}

p {
    font-size: 1.1vw;
}

.item-name {
    font-weight: bold;
}

.item-price {
    font-weight: bold;
}

.totalSumma {
    font-weight: bold;
    margin-top: 4vw;
    font-size: 1.5vw;
}

.imgCart {
    width: 6vw;
    height: auto;
    transition: 0.5s;
}
.imgCart:hover {
    transform: scale(1.6);
}

.removeButton {
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.varuCount {
    font-size: 1vw;
    position: absolute; 
    top: 0.3vw;
    right: 0.3vw;
    background-color: black;
    color: white;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.fa {
    font-size: 2vw;
}

@media screen and (max-width: 660px) {
    .cart-box {
      width: 100%;
    }
    .item-name {
        font-size: 3vw;
    }
    .item-price {
        font-size: 3vw;
    }
    .imgCart {
        width: 10vw;
        height: auto;
    }
    .totalSumma {
        font-weight: bold;
        margin-top: 4vw;
        font-size: 2.5vw;
    }
    h2 {
        font-size: 3vw;
        }
        .fa {
            font-size: 3.7vw;
        }
        .varuCount {
            font-size: 2vw;
            width: 2vw;
            height: 2vw;
        }
  }